@import "tailwindcss";

@font-face {
  font-family: pt-sans;
  src: url("../src/assets/fonts/PTSans-Regular.ttf");
}

@theme{
  --font-pt-sans: pt-sans;
}

body {
  background-color: #FAFBFF !important;
}